body{
  margin: 0;
  padding: 0;  
  font-family: 'PT Sans', 'Arial', sans-serif;  
  color: #000000;
  background-color: #ffffff;
}
.form-dispatch,
.modal-map{
  display: none;
}

a{
  text-decoration: none;
}
.main-navigation{
  width: 1280px;
  height: 42px;
  font-style: 17px;
  line-height: 18px;
  background-color: #293449;
  margin-bottom: 46px;
}
.site-info{
  width: 196px;  
  color: #ee3643;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 100px; /* Временное значение */
  margin-bottom: 44px; /* Временное значение */
}

.user-navigation{ 
  list-style: none;
}
.site-navigation{
  list-style: none;
}
.popular-products-list{
  list-style: none;
}
.popular-manufacturers{
  list-style: none;
}
.features-list{
  list-style: none;
}
.navigation-footer{
  list-style: none;
}
.products-footer{
  list-style: none;
}
.user-navigation a:hover,
.user-navigation a:focus,{
  color: #ee3643;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #ffffff;
  background-color: #1d2739;
}


.user-navigation a,
.site-navigation a{
  color: #000000;
}
.checkout{
  color: #ffffff;
  background-color: #63a63e;
  padding: 14px 22px 13px 20px;  
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
}
.main-header-logo{
  width: 109px;
  height: 19px;
  background-color: #ffffff;
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.contacts-info{
  font-size: 14px;
  font-weight: 400;
  height: 13px;
}
.contacts-info a{
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
}

.block-title{
  font-size: 24px;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;  
}
.block-products{
  width: 300px;
  height: 123px;
}
.block-mini-1{  
  background-color: #ffbf47;  
}
.block-mini-2{
  background-color: #3bbce3;  
}
.block-mini-3{
  background-color: #dc91d8;
}
.big-block{
  display: inline-block;  
}
.block-mini-4{
  background-color: #8ed78f;
}
.block-mini-5{
  background-color: #ffc047;
}
.block-subtitle{  
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px; 
  text-transform: uppercase;
  background-color: #000000;
  opacity: 0.1;
  display: inline-block;
  padding: 12px 24px 14px 24px;  
}
.block-subtitle:focus{
  color: #ffffff;
  background-color: #000000;
  opacity: 0.2;
}
.block-subtitle:active{
  opacity: 0.3;
}
.block-big-title{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; 
}
.block-big-subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.catalog-btn{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 45px 14px 49px;
  border: none;
}

.product-title a,
.product-price{
  color: #000000;
}
.product-past-price{  
  color: #a9a9a9;  
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}
.product-price{
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-title{
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;    
  background-color: #f9f5f0;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;

}
.popular-btn{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 55px;
  border: none;
}
.popular-man{  
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}


.services{  
  width: 1926px;  
  margin-bottom: 300px;
}
.services-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.services-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.features-button-1{
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  padding: 21px 140px 21px 22px;
  border: none;
}
.features-button-2{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  padding: 21px 140px 20px 23px;
  border: none;
}
.features-button-3{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  padding: 21px 157px 20px 23px;
  border: none;
}
.features-title{
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.features-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.company-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.company-subtitle-list{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.company-copyright{
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
}
.btn-company{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 40px 12px 41px;
}

.contacts-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts-footer{
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
}
.contacts-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.mini-map{
  width: 300px;
  height: 158px;
}
.contacts a{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 59px 12px 63px;
}
.main-footer-logo{
  background-color: #ffffff;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;  
  width: 138px;
  padding: 20px 41px 25px 41px;
}
.main-footer{
  margin-top: 86px;
  background-color: #32425c;
}
.navigation-footer a{
  color: #f1f5f7;
}
.products-footer a{
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
}
.button{
  color: #ffd180;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.social-button{
  list-style: none;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  text-align: center;
}
.company-copyright{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.products-footer{
  color: #ffd180;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer-feedback{
  color: #ffffff;
}
.footer-developed{
  color: #ffffff;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

