body{
  margin: 0;
  padding: 0;  
  font-family: 'PT Sans', 'Arial', sans-serif;  
  color: #000000;
  background-color: #ffffff;
}
.form-dispatch,
.modal-map{
  display: none;
}

a{
  text-decoration: none;
}
.main-navigation{
  width: 1280px;
  height: 42px;
  font-style: 17px;
  line-height: 18px;
  background-color: #293449;
  margin-bottom: 46px;
}
.site-info{
  width: 196px;  
  color: #ee3643;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 100px; /* Временное значение */
  margin-bottom: 44px; /* Временное значение */
}
.login{
  color: #000000;
  font-size: 21px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 21px;  
}
.login:hover{
  color: #ee3643;  
}
.login:active{
  opacity: 0.3;
  color: #000000;
}

.registration{
  color: #000000;
  font-size: 21px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.registration:hover{
  color: #ee3643;
}
.registration:active{
  opacity: 0.3;
  color: #000000;
}
.user-navigation{ 
  list-style: none;
}
.site-navigation{
  
}
.popular-products-list{
  list-style: none;
}
.popular-manufacturers{
  list-style: none;
}
.features-list{
  list-style: none;
}
.navigation-footer{
  list-style: none;
}
.products-footer{
  list-style: none;
}
.user-navigation a:hover,
.user-navigation a:focus,{
  color: #ee3643;
}

.site-navigation{
  list-style: none;  
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.user-navigation a{
  color: #000000;
}
.site-navigation a{
  color: #ffffff;  
}
.site-navigation a:hover{
  background-color: #293449;
}
.site-navigation a:active{
  opacity: 0.5;
  color: #ffffff;
  background-color: #1d2739;
}
.form-search{
  background-color: #293449;
}

.header-counter{
  color: #ffffff;
  background-color: #293449;
}
.header-counter:hover{
  color: #ffffff;
  background-color: #212a3a;
}
.header-counter:active{
  color: #8a8e94;
  background-color: #161d29; 
}
.checkout{
  color: #ffffff;
  background-color: #63a63e;
  padding: 14px 22px 13px 20px;  
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
}
.checkout:hover{
  background-color: #5fbb2d;
}
.checkout:active{
  color: #a8c299;
  background-color: #518534;  
}
.main-header-logo{
  width: 109px;
  height: 19px;
  background-color: #ffffff;
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.main-header-logo:hover{
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
} 
.main-header-logo:active{
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}
.contacts-info{
  font-size: 14px;
  font-weight: 400;
  height: 13px;
  font-family: 'Cuprum', 'Arial', sans-serif; 

}
.contacts-info a{
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;

  letter-spacing: 0.42px;
  font-family: 'Cuprum', 'Arial', sans-serif;  
}

.block-title{
  font-size: 24px;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;  
}
.block-products{
  width: 300px;
  height: 123px;  
}
.block-mini-1{  
  background-color: #ffbf47; 
  background-image: url(../img/icon-1.svg); 
  background-repeat: no-repeat; 
}
.block-mini-2{
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg); 
  background-repeat: no-repeat;   
}
.block-mini-3{
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg); 
  background-repeat: no-repeat; 
}
.big-block{
  display: inline-block;  
}
.block-mini-4{
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg); 
  background-repeat: no-repeat; 
}
.block-mini-5{
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg); 
  background-repeat: no-repeat; 
}
.block-subtitle{  
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px; 
  text-transform: uppercase;
  background-color: #000000;
  opacity: 0.1;
  display: inline-block;
  padding: 12px 24px 14px 24px;    
}
.block-subtitle:hover{
  color: #ffffff;
  background-color: #000000;
  opacity: 0.2;
}
.block-subtitle:active{
  opacity: 0.3;
}
.block-big-title{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; 
}
.block-big-subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.catalog-btn{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 45px 14px 49px;
  border: none;
}
.catalog-btn:hover{
  background-color: #ca2c37;
}
.catalog-btn:active{
  background-color: #ba2732;
}

.product-title a,
.product-price{
  color: #000000;
}
.product-past-price{  
  color: #a9a9a9;  
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}
.product-price{
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-title{
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;    
  background-color: #f9f5f0;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;

}
.popular-btn{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 55px;
  border: none;
}
.popular-manufactures li{  
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.popular-manufactures li:hover{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}


.services{   
  margin-bottom: 300px;
}
.services-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.services-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}


.features-button{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
  padding-right: 140px;  
  width: 240px;
  border: none;
}
.features-button:hover{
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}
.features-button:active{
  color: #32425c;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;  
}

.features-3{
  padding-right: 157px;
}

.features-title{
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.features-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.company-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.company-subtitle-list{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.company-copyright{
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
}
.btn-company{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 40px 12px 41px;
}

.contacts-title{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts-footer{
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
}
.contacts-subtitle{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.mini-map{
  width: 300px;
  height: 158px;
}
.header-form-dispatch{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.btn-submit{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ee3643;
}
.contacts a{
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 14px 59px 12px 63px;
}
.main-footer-logo{
  background-color: #ffffff;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;  
  width: 138px;
  padding: 20px 41px 25px 41px;
}
.main-footer{
  margin-top: 86px;
  background-color: #32425c;
}
.navigation-footer a{
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
}
.navigation-footer a:hover{
  text-decoration: underline;
}
.navigation-footer a:active{
  opacity: 0.5;
  color: #f1f5f7;
}
.products-footer a{
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
}
.products-footer a:hover{
  text-decoration: underline;
}
.products-footer a:active{
  opacity: 0.5;
  color: #ffd180;
}

.email{
  color: #ffd180;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.email:hover,
.button:hover{
  text-decoration: underline;
}
.email:active,
.button:active{
  color: #ee3643;
}
.button{
  color: #ffd180;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.social-button{
  list-style: none;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  text-align: center;
}
.company-copyright{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.products-footer{
  color: #ffd180;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer-feedback{
  color: #ffffff;
}
.footer-developed{
  color: #ffffff;
}

/* Каталог */

.name-user{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  color: #000000;
  cursor: pointer;
}
.name-user:active{
  opacity: 0.3;
  color: #000000;
}
.container-navigation li{
  list-style: none;  
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
}
.navigation-element{
  color: #000000;
}


.personal-navigation{
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.personal-navigation:hover{
  color: #ee3643;
}
.personal-navigation:active{
  opacity: 0.3;
  color: #32425c;
}
.filter,
.sorting{  
  color: #000000;
  background-color: #f7f3ec;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.sorting-view li{ 
  display:  inline-block;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  list-style:none;  
}

.sorting-element{
  border-bottom: 1px dotted #ee3643;
  background-color: #f7f3ec;
  opacity: 0.3;
}


.header-list-filter{
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.btn-look{
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

